.itemName {
  border: 1px solid #333;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 11px;
  margin: 0;
  height: 32px;
  line-height: 32px;
}
.icon {
  font-size: 16px;
}
