.list {
  padding: 0;
  margin: 0;
}
.listItem {
  list-style-type: none;
  min-height: var(--list-item_height);
  border-width: 1px;
  border-style: solid;
  border-color: var(--list-item_border-color);
}
.listContents {
  padding: 10px;
}
.nameContainer {
  padding: 0 5px;
  line-height: var(--list-item_height);
}
