.list {
  padding: 0;
  margin: 0;
}
.listItem {
  list-style-type: none;
  height: var(--list-item_height);
  line-height: var(--list-item_height);
  border-width: 1px;
  border-style: solid;
  border-color: var(--list-item_border-color);
}
.padding {
  padding: 0 5px;
}
